
<%- include(`../../administratorPartial/commonPartial/header.ejs`); %>

<body>
    <!-- <img src="/imges/img/Char 01 (1).png" alt="Slide 1"> -->
  
  
    <div class="menu-container">
      <div class="logo">
        <img src="/imges/img/74e499e046c0b7f26dafbe8d3b3ca.png" alt="Logo">
      </div>
      <div class="menu-items">
        <div class="menu-item">Home</div>
        <div class="menu-item"><a href="/login">Log In </a></div>
        <div class="menu-item">Help Center</div>
        <div class="menu-item">Contact</div>
      </div>
    </div>
  
    
    <!-- footer start -->

    <div class="footer">
      <div class="footer_manu" style="display: flex; width: 100%;">
        <div class="short_about_diu" style=" display: flex;   flex-direction: column; flex-basis: 40%;">
          <div class="footer_diu_logo">
            <img style="width: 200px ;height: 80px;" src="/imges/img/74e499e046c0b7f26dafbe8d3b3ca.png" alt="">
          </div>
          <div class="short_diu" style="    width: 80%; font-size: 14px; ">
            <span>
              <p style="color: black;">Lörem ipsum od ohet dilogi. Bell trabel, samuligt, ohöbel utom diska. Jinesade bel när feras redorade i
                belogi. FAR paratyp i muvåning, och pesask vyfisat. Viktiga poddradio har un mad och inde. </p>
            </span>
          </div>
          <div class="logo_social">
  
          </div>
        </div>
        <div class="footer_pages" style="display: flex;  flex-direction: column; flex-basis: 20%;">
          <div class="pages_heading">Pages</div>
          <div class="footer_manu_items">
            <div class="footer-item">Home</div>
            <div class="footer-item">Log In</div>
            <div class="footer-item">Help Center</div>
            <div class="footer-item">Contact</div>
          </div>
        </div>
        <div class="helpful_link" style="display: flex;  flex-direction: column; flex-basis: 20%; ">
          <div class="helpful_link_heading">Helpful Link</div>
          <div class="helpful_link_items">
            <div class="helpful_link-item">Contact</div>
            <div class="helpful_link-item">Instruction</div>
            <div class="helpful_link-item">Help Center</div>
            <!-- <div class="helpful_link-item">Contact</div> -->
          </div>
        </div>
        <div class="footer_contact" style="display: flex;  flex-direction: column; flex-basis: 20%;">
          <div class="footer_contact_heading">Contact</div>
          <div class="footer_contact_items">
            <div class="footer_contact-item">(406) 555-0120</div>
            <div class="footer_contact-item">cseoffice@daffodilvarsity.edu.bd</div>
            <div class="footer_contact-item">Daffodil Road, Ashulia, Dhaka.</div>
          </div>
        </div>
  
  
      </div>
      <div class="footer_line"></div>
      <div class="copyright" >
        Copyright © 2023 Daffodil International University. All Rights Reserved.
      </div>
    </div>
    <!-- footer End -->
  
  
 
  </body>
  
  </html>