  <!-- ---------------------------delete models -->
  <div class="modal-wrapper" id="delete-room-modal">
    <div class="modal">
      <a href="#" onclick="closeDeleteModal()" class="modal-close">+</a>
      <div class="modal-title">
        <h2>Delete Room Information</h2>
      </div>
      <div class="modal-body">
        <form id="delete-room-form">
          <span>Are you sure delete this?</span>
          <div class="roomNo">
              RoomNo :  <p id="deleteRoomNo" ></p>
          </div>
          <input type="submit" value="Sure" onclick="deleteSend()" />
        </form>
      </div>
    </div>
  </div>

  <script>
    console.log(document.querySelector("#roomid").innerHTML)
    console.log(document.querySelector("#roomid").innerText)


    // const formDelete = document.querySelector("#delete-sectionStudent-modal");
    // formDelete.onsubmit =async function(event){
    //   event.preventDefault();
    const deleteRoomModal = document.querySelector("#delete-room-modal");
    const deleteRoomSend = document.querySelector("#delete-room-form");
    // Function to show a toast message
    function showToast(message, isError = false) {
      Toastify({
        text: message,
        duration: 500,
        backgroundColor: isError ? "#f44336" : "",
      }).showToast();
    }

    function closeDeleteModal() {
      // console.log("run end")
      deleteRoomModal.style.display = "none";
    }

    function openDeleteModal(deleteRoom) {
      console.log("deleteRoomtId----",deleteRoom)
      const deleteRoomNo = document.querySelector("#deleteRoomNo");
      deleteRoomNo.innerHTML = deleteRoom;
      deleteRoomModal.style.display = "block";
      //   console.log(roomId)

    }

    async function deleteSend() {
      const deleteRoomNo = document.querySelector("#deleteRoomNo").innerHTML;
      // console.log("deleteRoomNo",deleteRoomNo)
      try {
        let response = await fetch(`/Administrator/Room/delete/${deleteRoomNo}`, {
          method: "DELETE",
        });
        const responseData = await response.json();
        console.log('Response:', responseData);
        closeDeleteModal()
        await showToast(responseData.msg, responseData.error); // Show the toast message for 9000 milliseconds (9 seconds)
        setTimeout(() => {
          document.body.classList.add('fade-out');
          setTimeout(() => {
            location.reload();
          }, 500); // Wait for the fade-out transition to complete (0.5s)
        }, 500);

      } catch (error) {
        console.error('Error:', error);
      }

      //       deleteToast.showToast();
      //       closeDeleteModal()
      //       setTimeout(() => {
      //   location.reload();
      // }, 1000);

    }
  </script>