<%- include(`../../common/landingHeader.ejs`); %>
<!--    navbar ends    -->
<section class="menu-item" id="section-1">
    <%- include(`../../common/landingMenu.ejs`); %>
</section>

<!-- 
    ============================================================
    section-3
    ems Committee
    ============================================================
   -->
<section id="section-committee">
    <div class="container pt-5 mt-5">
        <div class="row justify-content-center">
            <div
                class="col-12 d-flex flex-column align-items-center justify-content-center">
                <h2 class="sub">Examination management system Committee</h2>
                <p class="sub-dis">For any queries regarding project/internship
                    contact the above mentioned persons. For any other queries
                    you may contact SIT Office .</p>
                <div class="col-12 d-flex flex-column flex-sm-row justify-content-around align-items-center justify-content-sm-around gap-3 gap-sm-5">
                    <!-- <div class="col-md-6 col-sm-12"> -->
                    <div class="dropdown">
                        <input
                            class="employeeDepartment dropdown-toggle dropdown-toggle-emp-profile "
                            type="text" placeholder="Select Department"
                            type="text" name="employeeDepartment" readonly>
                        <i class="bx bx-chevron-down"></i>
                        <div class="dropdown-content dropdown-content-size">
                            <div class="dropdown-option">Department of Computer
                                Science and Engineering</div>
                        </div>
                    </div>
                    <!-- </div> -->
                    <!-- <div class="col-md-6 col-sm-12"> -->
                    <div class="dropdown">
                        <input
                            class="employeeDepartment dropdown-toggle dropdown-toggle-emp-profile "
                            type="text" placeholder="Contact Information"
                            type="text" name="employeeDepartment" readonly>
                        <i class="bx bx-chevron-down"></i>
                        <div class="dropdown-content dropdown-content-size">
                            <div class="dropdown-option">Contact Information
                            </div>
                            <div class="dropdown-option">Examination Management
                                Committee</div>
                            <div class="dropdown-option">Office</div>
                            <div class="dropdown-option">Technical Team</div>
                        </div>
                        <!-- </div> -->
                    </div>
                </div>
            </div>

            <div class="container committee-ditalis ems-contact-member">
                <div class="row">
                    <!-- First column (6 columns on md and lg, 12 columns on sm) -->
                    <div class="ems-committee">
                        <div class="col-12">
                            <div class="ems-contact-member-title">
                                <span> Examination Management Committee</span>
                            </div>
                        </div>
                        <div class="col-sm-12 mb-5 mb-sm-0  committee-card">
                            <div
                                class="invalid-member container d-flex flex-column">
                                <div class="row">
                                    <div class="col-sm-12 col-md-4 col-lg-2">
                                        <div class="committee-image-container">
                                            <img src="/imges/landingPages_img/DIU-Campus 1.png"
                                                alt="" class="image">
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-4 col-lg-4 p-4">
                                        <h5 class="member-info"><i class="fa-solid fa-user"></i><p>Md. Tanvir Siddiquee</p></h5>
                                        <span class="member-info"><i class="fa-solid fa-signature"></i><p>Assistant Professor</p></span>
                                        <span class="member-info"><i class="fa-solid fa-envelope"></i><p>tanvir.cse@diu.edu.bd</p></span>
                                    </div>
                                    <div class="col-sm-12 col-md-4 col-lg-4 p-4">
                                        <span class="member-info"><i class="fa-solid fa-landmark"></i><p>Computer Science & Engineering</p></span>
                                        <span class="member-info"><i class="fa-solid fa-phone"></i><p>01717379897</p></span>
                                        <span class="member-info"><i class="fa-solid fa-chair"></i><p>Room No-111, Daffodil Tower (DT5)</p></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 mb-5 mb-sm-0  committee-card">
                          <div
                              class="invalid-member container d-flex flex-column">
                              <div class="row">
                                  <div class="col-sm-12 col-md-4 col-lg-2">
                                      <div class="committee-image-container">
                                          <img src="/imges/landingPages_img/DIU-Campus 1.png"
                                              alt="" class="image">
                                      </div>
                                  </div>
                                  <div class="col-sm-12 col-md-4 col-lg-4 p-4">
                                      <h5 class="member-info"><i class="fa-solid fa-user"></i><p>Md. Tanvir Siddiquee</p></h5>
                                      <span class="member-info"><i class="fa-solid fa-signature"></i><p>Assistant Professor</p></span>
                                      <span class="member-info"><i class="fa-solid fa-envelope"></i><p>tanvir.cse@diu.edu.bd</p></span>
                                  </div>
                                  <div class="col-sm-12 col-md-4 col-lg-4 p-4">
                                      <span class="member-info"><i class="fa-solid fa-landmark"></i><p>Computer Science & Engineering</p></span>
                                      <span class="member-info"><i class="fa-solid fa-phone"></i><p>01717379897</p></span>
                                      <span class="member-info"><i class="fa-solid fa-chair"></i><p>Room No-111, Daffodil Tower (DT5)</p></span>
                                  </div>
                              </div>
                          </div>
                      </div>
                    </div>
                    <div class="ems-office">
                      <div class="col-12">
                        <div class="ems-contact-member-title">
                            <span>Office</span>
                        </div>
                      </div>
                      <div class="col-sm-12 mb-5 mb-sm-0  committee-card">
                        <div
                            class="invalid-member container d-flex flex-column">
                            <div class="row">
                                <div class="col-sm-12 col-md-4 col-lg-2">
                                    <div class="committee-image-container">
                                        <img src="/imges/landingPages_img/DIU-Campus 1.png"
                                            alt="" class="image">
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-4 col-lg-4 p-4">
                                    <h5 class="member-info"><i class="fa-solid fa-user"></i><p>Md. Tanvir Siddiquee</p></h5>
                                    <span class="member-info"><i class="fa-solid fa-signature"></i><p>Assistant Professor</p></span>
                                    <span class="member-info"><i class="fa-solid fa-envelope"></i><p>tanvir.cse@diu.edu.bd</p></span>
                                </div>
                                <div class="col-sm-12 col-md-4 col-lg-4 p-4">
                                    <span class="member-info"><i class="fa-solid fa-landmark"></i><p>Computer Science & Engineering</p></span>
                                    <span class="member-info"><i class="fa-solid fa-phone"></i><p>01717379897</p></span>
                                    <span class="member-info"><i class="fa-solid fa-chair"></i><p>Room No-111, Daffodil Tower (DT5)</p></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                    <div class="ems-technical-team">
                      <div class="col-12">
                        <div class="ems-contact-member-title">
                            <span> EMS Technical Team</span>
                        </div>
                    </div>
                    <div class="col-sm-12 mb-5 mb-sm-0  committee-card">
                      <div
                          class="invalid-member container d-flex flex-column">
                          <div class="row">
                              <div class="col-sm-12 col-md-4 col-lg-2">
                                  <div class="committee-image-container">
                                      <img src="/imges/landingPages_img/DIU-Campus 1.png"
                                          alt="" class="image">
                                  </div>
                              </div>
                              <div class="col-sm-12 col-md-4 col-lg-4 p-4">
                                  <h5 class="member-info"><i class="fa-solid fa-user"></i><p>Md. Tanvir Siddiquee</p></h5>
                                  <span class="member-info"><i class="fa-solid fa-signature"></i><p>Assistant Professor</p></span>
                                  <span class="member-info"><i class="fa-solid fa-envelope"></i><p>tanvir.cse@diu.edu.bd</p></span>
                              </div>
                              <div class="col-sm-12 col-md-4 col-lg-4 p-4">
                                  <span class="member-info"><i class="fa-solid fa-landmark"></i><p>Computer Science & Engineering</p></span>
                                  <span class="member-info"><i class="fa-solid fa-phone"></i><p>01717379897</p></span>
                                  <span class="member-info"><i class="fa-solid fa-chair"></i><p>Room No-111, Daffodil Tower (DT5)</p></span>
                              </div>
                          </div>
                      </div>
                  </div>
                    </div>



                    <!-- Second column (6 columns on md and lg, 12 columns on sm) -->

                </div>
            </div>


        </div>
    </div>
</section>
<!-- 
    ============================================================
    section 4
    footer
    ============================================================
   -->
<section id="section-5">
    <footer class="footer-03">
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-sm-12">
                    <div class="row">
                        <div class="col-sm-6 col-md-4 mb-md-0 mb-4">
                            <h2 class="footer-heading">Pages</h2>
                            <ul class="list-unstyled">
                                <li><a href="#" class="py-1 d-block">Home</a>
                                </li>
                                <li><a href="#" class="py-1 d-block">Logain</a>
                                </li>
                                <li><a href="#" class="py-1 d-block">Help
                                        center</a></li>
                                <li><a href="#" class="py-1 d-block">Contact</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-4 mb-md-0 mb-4 d-none d-md-block">
                            <h2 class="footer-heading">Helpful Link</h2>
                            <ul class="list-unstyled">
                                <li><a href="#" class="py-1 d-block">Contact</a>
                                </li>
                                <li><a href="#"
                                        class="py-1 d-block">Instruction</a>
                                </li>
                                <li><a href="#" class="py-1 d-block">Help
                                        center</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-6 col-md-4 mb-md-0 mb-4">
                            <h2 class="footer-heading">Contact</h2>
                            <ul class="list-unstyled contact-info">
                                <li class="d-flex align-items-center"><i
                                        class="fa-solid fa-phone"></i>
                                    <p class="pl-5"> (406) 555-0120</p>
                                </li>
                                <li class="d-flex align-items-center"><i
                                        class="fa-solid fa-envelope"></i>
                                    <p>cseoffice@daffodilvarsity.edu.bd</p>
                                </li>
                                <li class="d-flex align-items-center"><i
                                        class="fa-solid fa-location-dot"></i>
                                    <p>Daffodil Road, Ashulia, Dhaka.</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 col-sm-12">
                    <div class="row justify-content-end">
                        <div class="col-md-12 col-lg-11 mb-md-0 mb-4">
                            <h2 class="footer-heading">Follow Us</h2>
                            <ul class="ftco-footer-social p-0">
                                <li class="ftco-animate"><a
                                        href="https://twitter.com/daffodilvarsity"
                                        data-toggle="tooltip"
                                        data-placement="top" target="_blank"
                                        title="Twitter"><i
                                            class="fa-brands fa-square-x-twitter"></i></a>
                                </li>
                                <li class="ftco-animate"><a
                                        href="https://www.facebook.com/daffodilvarsity.edu.bd"
                                        target="_blank" data-toggle="tooltip"
                                        data-placement="top" title="Facebook"><i
                                            class="fa-brands fa-square-facebook"></i></a>
                                </li>
                                <li class="ftco-animate"><a
                                        href="https://www.instagram.com/daffodil.university/"
                                        data-toggle="tooltip"
                                        data-placement="top" target="_blank"
                                        title="Instagram"><i
                                            class="fa-brands fa-square-instagram"></i></a>
                                </li>
                                <li class="ftco-animate"><a
                                        href="https://www.linkedin.com/company/daffodil-international-university/"
                                        data-toggle="tooltip"
                                        data-placement="top" target="_blank"
                                        title="Linkedin"><i
                                            class="fa-brands fa-linkedin"></i></a>
                                </li>
                                <li class="ftco-animate"><a
                                        href="https://www.youtube.com/user/webmasterdiu"
                                        data-toggle="tooltip"
                                        data-placement="top" target="_blank"
                                        title="Youtube"><i
                                            class="fa-brands fa-youtube"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-5 pt-4 border-top">
                <div class="col-md-6 col-lg-8">

                    <p class="copyright">
                        Copyright &copy;<script>
                            document.write(new Date().getFullYear());
                        </script> All rights reserved | This template is made
                        with <i class="ion-ios-heart" aria-hidden="true"></i> by
                        <a href="https://ridoyislamnasim.up.railway.app/"
                            target="_blank">ridoy islam</a>
                </div>
                <!-- <div class="col-md-6 col-lg-4 text-md-right">
          	<p class="mb-0 list-unstyled">
          		<a class="mr-md-3" href="#">Terms &amp; Conditions</a>
          		<a class="mr-md-3" href="#">Privacy</a>
          	</p>
          </div> -->
            </div>
        </div>
    </footer>
</section>




</body>
<script type="text/javascript" src="/Js/jquery-3.3.1.js"></script>
<script
    src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script type="text/javascript" src="/Js/bootstrap.min.js"></script>
<!-- slider js  -->

<!-- dropdown button -->
<%- include(`../../common/js/dropDownJS.ejs`); %>
<%- include(`../../common/js/landingPageMenuJs.ejs`); %>
</body>

</html>