<script>
   
    // ----------------------------------------------------------------
    // const modal = document.querySelector("#add-conversation-modal");
    // typing detector
    let typingTimerIs;
    const TypingInterval = 100;
    const conversationlist = document.querySelector("#conversation-list");

    const input = document.querySelector("input#departmentName");
    // let users_placeholder = document.querySelector(".search_users");

    const input2 = document.querySelector("input#BatchName");
    // let batchs_placeholder = document.querySelector(".search_batchs");

    const input3 = document.querySelector("input#sectionName");
    // let section_placeholder = document.querySelector(".search_section");

    // conversation created failure toast
    const SuccessToast = Toastify({
      text: "creating a conversation!",
      duration: 1000,
    });
    // Department------------------------------------------------------------------
    // Department Name event listener keyUp 
    input.addEventListener("keyup", function () {
      //get departmentName input 
      document.getElementById("departmentName").value
      console.log("departmentName",departmentName.value)
      // clear the privious set time
      clearTimeout(typingTimerIs);
      // reset privious popup
    //   batchs_placeholder.style.display = "none";
    //   users_placeholder.style.display = "none";

      if (input.value) {
        console.log("departmentName",departmentName.value)
        typingTimerIs = setTimeout(searchUsers, TypingInterval); //departmentName is "finished typing," send search request
        console.log("departmentName.va")

      }
    });

    // send request for search
    // ------------------for  Department
    async function searchUsers() {
      console.log("departmentName.value",departmentName.value)

      let response = await fetch("/Administrator/examschedule/examschedule", {
        method: "POST",
        body: JSON.stringify({
          // send input value
          departmentName: input.value,
        }),
        headers: {
          "Content-type": "application/json; charset=UTF-8",
        },
      });

      // get response
      let result = await response.json();
      console.log("result", result)

      // handle error and response
      if (result.errors) {
        console.log("result.errors", result.errors.common)
        const errorplaceholder = document.querySelector("p.error");
        errorplaceholder.textContent = result.errors.common.msg;
        errorplaceholder.style.display = "block";
      } else {
        if (result.length > 0) {
          let generatedHtml = "<ul>";
          result.forEach((departmentName) => {
            // const avatar = departmentName.avatar
            //   ? "./uploads/avatars/" + departmentName.avatar
            //   : "./images/nophoto.png";

            generatedHtml += `<li onclick="createDepartmentInput('${departmentName._id}', '${departmentName.department}')">
                <div class="departmentName">
                  <div class="username">${departmentName.department}</div>
                </div>
              </li>`;
          });
          generatedHtml += "</ul>";
          // created html push popupOption
          users_placeholder.innerHTML = generatedHtml;
          // popUpOption show
          users_placeholder.style.display = "block";
          users_placeholder.style.top = "250px";
        }
      }
    }

    async function createDepartmentInput(participant_id, department) {
      // input value set 
      input.value = department;
      // popoup option hide 
      users_placeholder.style.display = "none";
      // show the tost
      SuccessToast.showToast();
    }

    // ------------------for  batch Name
    input2.addEventListener("keyup", function () {
      console.log("keyup")
      document.getElementById("BatchName").value
      console.log(BatchName.value)
      clearTimeout(typingTimerIs);
      // reset
      users_placeholder.style.display = "none";
      users_placeholder.style.display = "none";

      if (input2.value) {
        typingTimerIs = setTimeout(searchBatch, TypingInterval); //departmentName is "finished typing," send search request
      }
    });
    async function searchBatch() {
      const allreadyselectDepartment = document.querySelector("input#departmentName").value;
      console.log("allreadyselectDepartment", allreadyselectDepartment)
      let response = await fetch("/Administrator/search/batch", {
        method: "POST",
        body: JSON.stringify({
          departmentName: input2.value,
          selectDepartment: allreadyselectDepartment
        }),
        headers: {
          "Content-type": "application/json; charset=UTF-8",
        },
      });

      // get response
      let result = await response.json();
      console.log("result", result)
      console.log("result.errors", result.errors)

      // handle error and response
      if (result.errors) {
        console.log("errors")
        const batchs_placeholder = document.querySelector("p.error");
        batchs_placeholder.textContent = result.errors.common.msg;
        batchs_placeholder.style.display = "block";
      } else {
        if (result.length > 0) {
          let generatedHtml = "<ul>";
          result.forEach((BatchName) => {
            // const avatar = departmentName.avatar
            //   ? "./uploads/avatars/" + departmentName.avatar
            //   : "./images/nophoto.png";

            generatedHtml += `<li onclick="createBatchInput('${BatchName._id}', '${BatchName.batch}')">
                <div class="departmentName">
                  <div class="username">${BatchName.batch}</div>
                </div>
              </li>`;
          });
          generatedHtml += "</ul>";
          batchs_placeholder.innerHTML = generatedHtml;
          batchs_placeholder.style.display = "block";
          batchs_placeholder.style.top = "307px";
        }
      }
    }

    // create Conversation
    async function createBatchInput(batch_id, department) {
      input2.value = department;
      batchs_placeholder.style.display = "none";
      SuccessToast.showToast();
    }


    // ----------------------------------------------Section
    // Section Name event listener keyUp 
    input3.addEventListener("keyup", function () {
      //get departmentName input 
      document.getElementById("sectionName").value
      console.log(sectionName.value)
      // clear the privious set time
      clearTimeout(typingTimerIs);
      // reset privious popup
      batchs_placeholder.style.display = "none";
      users_placeholder.style.display = "none";

      if (input3.value) {
        typingTimerIs = setTimeout(searchSection, TypingInterval); //departmentName is "finished typing," send search request
      }
    });

    // send request for search
    // ------------------for  Section
    async function searchSection() {
      const allreadyselectDepartment = document.querySelector("input#departmentName").value;
      const allreadyselectBatch = document.querySelector("input#BatchName").value;
      let response = await fetch("/Administrator/search/section", {
        method: "POST",
        body: JSON.stringify({
          // send input value

          selectDepartment: allreadyselectDepartment,
          selectBatch: allreadyselectBatch,
          section: input3.value,
        }),
        headers: {
          "Content-type": "application/json; charset=UTF-8",
        },
      });

      // get response
      let result = await response.json();
      console.log("result", result)

      // handle error and response
      if (result.errors) {
        console.log("result.errors", result.errors.common)
        const errorplaceholder = document.querySelector("p.error");
        errorplaceholder.textContent = result.errors.common.msg;
        errorplaceholder.style.display = "block";
      } else {
        if (result.length > 0) {
          let generatedHtml = "<ul>";
          result.forEach((sectionName) => {
            // const avatar = departmentName.avatar
            //   ? "./uploads/avatars/" + departmentName.avatar
            //   : "./images/nophoto.png";

            generatedHtml += `<li onclick="createSectionInput('${sectionName._id}', '${sectionName.section}')">
                <div class="departmentName">
                  <div class="username">${sectionName.section}</div>
                </div>
              </li>`;
          });
          generatedHtml += "</ul>";
          // created html push popupOption
          section_placeholder.innerHTML = generatedHtml;
          // popUpOption show
          section_placeholder.style.display = "block";
          section_placeholder.style.top = "365px";
        }
      }
    }

    async function createSectionInput(participant_id, section) {
      // input value set 
      input.value = section;
      // popoup option hide 
      section_placeholder.style.display = "none";
      // show the tost
      SuccessToast.showToast();
    }
    function closeAllSelect() {
      batchs_placeholder.style.display = "none";
      users_placeholder.style.display = "none";
      section_placeholder.style.display = "none";
    }
    document.addEventListener("click", closeAllSelect);
  </script>