<script>
        // typing detector
        let typingTimer;
    const doneTypingInterval = 100;
    const conversation_list = document.querySelector("#conversation-list");

    // const inputExamTimeslot = document.querySelector("input#examTimeslot");
    // let users_placeholder = document.querySelector(".search_examSlot");

    // const input2 = document.querySelector("input#BatchName");
    // let batchs_placeholder = document.querySelector(".search_batchs");

    // const input3 = document.querySelector("input#sectionName");
    // let section_placeholder = document.querySelector(".search_section");

    // conversation created failure toast
    const conversationToast = Toastify({
      text: "Add Exam time Slot !!!",
      duration: 1000,
    });
    // ------------------------------------------------ExamTimeslot------------------
    // ExamTimeslot Name event listener keyUp 
    inputExamTimeslot.addEventListener("keyup", function () {
      //get departmentName input 
      document.getElementById("departmentName").value
      console.log(departmentName.value)
      // clear the privious set time
      clearTimeout(typingTimer);
      // reset privious popup
      batchs_placeholder.style.display = "none";
      users_placeholder.style.display = "none";

      if (input.value) {
        typingTimer = setTimeout(searchUsers, doneTypingInterval); //departmentName is "finished typing," send search request
      }
    });

    // send request for search
    // ------------------for  Department
    async function searchUsers() {
      let response = await fetch("/Administrator/search", {
        method: "POST",
        body: JSON.stringify({
          // send input value
          departmentName: input.value,
        }),
        headers: {
          "Content-type": "application/json; charset=UTF-8",
        },
      });

      // get response
      let result = await response.json();
      console.log("result", result)

      // handle error and response
      if (result.errors) {
        console.log("result.errors", result.errors.common)
        const errorplaceholder = document.querySelector("p.error");
        errorplaceholder.textContent = result.errors.common.msg;
        errorplaceholder.style.display = "block";
      } else {
        if (result.length > 0) {
          let generatedHtml = "<ul>";
          result.forEach((departmentName) => {
            // const avatar = departmentName.avatar
            //   ? "./uploads/avatars/" + departmentName.avatar
            //   : "./images/nophoto.png";

            generatedHtml += `<li onclick="createDepartmentInput('${departmentName._id}', '${departmentName.department}')">
                <div class="departmentName">
                  <div class="username">${departmentName.department}</div>
                </div>
              </li>`;
          });
          generatedHtml += "</ul>";
          // created html push popupOption
          users_placeholder.innerHTML = generatedHtml;
          // popUpOption show
          users_placeholder.style.display = "block";
          users_placeholder.style.top = "250px";
        }
      }
    }

    async function createDepartmentInput(participant_id, department) {
      // input value set 
      input.value = department;
      // popoup option hide 
      users_placeholder.style.display = "none";
      // show the tost
      conversationToast.showToast();
    }

</script>