<script>
  // functiondataInformationResived(){}
   // Get a reference to the div element, where show  genarate pganiantion information 
   const showData = document.getElementById("showData");
   // how many div has find this  
  let total_records_div = document.querySelectorAll(".pagination-data");
   // one page howmany records show 
  let records_size = document.getElementById('records_size')
  let records_per_page = 5;
  let page_number = 1; 
  let total_records = total_records_div.length
  let total_pages = Math.ceil( total_records / records_per_page)
  console.log('--->-->-->-->->->',total_records,total_pages)
  grnaratePagination()
  DisplayRecords()
  function DisplayRecords(){
    let start_index  =  (page_number - 1) * records_per_page;
    let end_index  =  start_index + Number(records_per_page );
    if(end_index >=total_records){
      end_index = total_records
    }
    let statement ='';
    for (let index = start_index; index < end_index; index++) {
      console.log("------------data",total_records_div[index])
      console.log("------------data")
      console.log("--------------",total_records_div[index].innerHTML)
      // data_show_div.innerHTML = total_records_div[index].innerHTML
      statement += `${total_records_div[index].innerHTML}`
      
    }
    // Set the HTML content into the div
showData.innerHTML = statement;
document.querySelectorAll(".pagination_link").forEach(item=>{
  item.classList.remove('active')
})
if(page_number == 1){
        document.getElementById('prvBtn').classList.add('active')
      }
      if(page_number == total_pages){
        document.getElementById('nextBtn').classList.add('active')
      }
document.getElementById(`page${page_number}`).classList.add('active')
document.getElementById('page_details').innerHTML =`Showing ${start_index + 1} to ${end_index} of ${total_records}`
// if (page_number == 1 ) {
//   document.getElementById('prvBtn').classList.add('active')
  
// }
    
  }


  function grnaratePagination(){ 
    let prv_btn = `<div class="pagination_item" aria-disabled="true">
              <a class="pagination_link active" id='prvBtn' onclick='prvBtn()' href="javascript:void(0)" aria-disabled="true">Previous</a>
            </div>`
    let next_btn = `<div class="pagination_item">
              <a class="pagination_link" id='nextBtn' onclick='nextBtn()' href="javascript:void(0)">Next</a>
            </div>`
            let pagination_page_number ='';
            let activeClass ='';
            for (let index = 1; index <= total_pages; index++) {
              if (index==1) {
                activeClass='active'
              } else {
                activeClass=''
              }
                pagination_page_number += `<div class="pagination_item">
              <a class="pagination_link ${activeClass} "  id='page${index}' onclick='goPage(${index})'  href="javascript:void(0)">${index}</a>
            </div>`
            }
            document.getElementById('pagination').innerHTML = `${prv_btn} ${pagination_page_number} ${next_btn} `
            
  }

  function prvBtn(){
    console.log("+++++++++++++++++++++++++++++++++++",page_number)
    if (page_number > 1) {
      page_number--;
      DisplayRecords();
    }
  }
  function nextBtn(){
    console.log("+++++++++++++++++++++++++++++++++++",page_number,total_pages)
    if (page_number < total_pages) {
      page_number++;
    DisplayRecords();
    }
  }
  function goPage(pageNumber){
    console.log("///////////////////////",typeof pageNumber)
    console.log("///////////////////////",typeof parseInt(pageNumber) )
    page_number = parseInt(pageNumber) 
    DisplayRecords();
  }
   records_size.addEventListener('change',function(e){
    records_per_page = records_size.value;
    total_pages = Math.ceil( total_records / records_per_page)
   page_number = 1; 
    grnaratePagination()
  DisplayRecords()
   })


  // data_show_div.innerHTML = "statement";
  // let coloumsmax = document.getElementById("coloumsmax");
  console.log("total_records_div", total_records_div)
  console.log("total_records_div",typeof  total_records_div)
  console.log("total_records_div", typeof records_per_page)
  console.log("total_records_div", total_records_div.length,total_pages)

</script>  