<div class="modal-wrapper" id="delete-student-modal">
    <div class="modal">
      <a href="#" onclick="closeDeleteStudentModal()" class="modal-close">+</a>
      <div class="modal-title">
        <h2>Delete Section Student</h2>
      </div>
      <div class="modal-body">
        <form id="delete-room-form">
            <span>Are you sure delete this?</span>
            <p id="deleteStudentId" style="display: none;">p</p>
          <input type="submit" value="Submit" onclick="deleteStudentSend()"/>
        </form>
      </div>
    </div>
  </div>

  
  <script>
    // 
    const deleteStudentModal = document.querySelector("#delete-student-modal");
    // const deleteRoomSend = document.querySelector("#delete-room-form");
    const deleteToast = Toastify({
        text: "User was deleted successfully!",
        duration: 3000,
    });
    function closeDeleteStudentModal() {
      deleteStudentModal.style.display = "none";
    }

     function openDeleteStudentModal(deleteStudentId) {
      const deleteStudentid= document.querySelector("#deleteStudentId");
      deleteStudentid.innerHTML =deleteStudentId;
      deleteStudentModal.style.display = "block";
        
    }

    async function deleteStudentSend(){
      const deleteStudent_id= document.querySelector("#deleteStudentId").innerHTML;
          let response =await  fetch(`/Administrator/students/delete/${deleteStudent_id}`, {
            method: "DELETE",
        });
        deleteToast.showToast();
        closeDeleteStudentModal()
        setTimeout(() => {
    location.reload();
  }, 100);

        }
      
        
</script>