<script>
    // sendSectionNameRequestServer sectionName search_section
    const inputSectionName = document.querySelector("input#sectionName");
    let sectionName_placeholder = document.querySelector(".search_section");
  
    async function sendSectionNameRequestServer() {
      console.log("Ridoy islam");
      // send the request to server
      let response = await fetch(
        "/Administrator/ExamSchedule/examschedule/sectionName",
        {
          method: "post",
          body: JSON.stringify({
            // send input value
            sclectDepartmentName: inputDepartmentName.value,
            sclectBatchName: inputBatchName.value,
            sclectCourseCode: inputCourseCode.value,
          }),
          headers: {
            "Content-type": "application/json; charset=UTF-8",
          },
        }
      );
      console.log("resultsectionName");
      let resultSectionName = await response.json();
      console.log("resultSectionName", resultSectionName);
  
      // const examSlotValue = document.querySelector(".examSlotValue");
      // const result = examSlotValue.value
      // console.log("Ridoy islam", examSlotValue.value);
      // console.log("Ridoy islam", result.refTimeSlot.length);
  
      if (resultSectionName.length > 0) {
        let generatedHtml = "<ul>";
            resultSectionName.forEach((sectionName, index) => {
          // const avatar = departmentName.avatar
          //   ? "./uploads/avatars/" + departmentName.avatar
          //   : "./images/nophoto.png";
  
          generatedHtml += `<li onclick="createSectionNameInput('${sectionName._id}')">
                  <div class="departmentName">
                    <div class="username">${sectionName._id}</div>
                  </div>
                </li>`;
        });
        generatedHtml += "</ul>";
        // created html push popupOption
        sectionName_placeholder.innerHTML = generatedHtml;
        // popUpOption show
        sectionName_placeholder.style.display = "block";
        sectionName_placeholder.style.top = "362px";
      }
    }
  
    async function createSectionNameInput(sectionName) {
      // input value set 
      inputSectionName.value = `${sectionName}`;
      // popoup option hide 
      sectionName_placeholder.style.display = "none";
      // show the tost
      successToast.showToast();
    }
  
  </script> 