<div class="modal-wrapper" id="delete-timeslot-modal">
    <div class="modal">
      <a href="#" onclick="closeDeleteTimeSlotModal()" class="modal-close">+</a>
      <div class="modal-title">
        <h2>Delete This Time Slot</h2>
      </div>
      <div class="modal-body">
        <form id="delete-room-form">
            <span>Are you sure delete this?</span>
            <p id="deleteTimeSlotId" style="display: block;"></p>
          <input type="submit" value="Submit" onclick="deleteStudentSend()"/>
        </form>
      </div>
    </div>
  </div>

  



  <script>
    // 
    const deleteTimeSlot = document.querySelector("#delete-timeslot-modal");
    // const deleteRoomSend = document.querySelector("#delete-room-form");
    const deleteToast = Toastify({
        text: "User was deleted successfully!",
        duration: 3000,
    });
    function closeDeleteTimeSlotModal() {
        deleteTimeSlot.style.display = "none";
    }

     function openDeleteTimeslotModal(deleteTimeSlotId) {
      const deleteTimeSlotid= document.querySelector("#deleteTimeSlotId");
      deleteTimeSlotid.innerHTML =deleteTimeSlotId;
      console.log(deleteTimeSlotId)
      console.log(deleteTimeSlotid)
      deleteTimeSlot.style.display = "block";
        
    }

    async function deleteStudentSend(){ 
      const deleteTimeSlot_id= document.querySelector("#deleteTimeSlotId").innerHTML;
      console.log(deleteTimeSlot_id)

          let response =await  fetch(`/Administrator/timeslots/delete/${deleteTimeSlot_id}`, {
            method: "DELETE",
        });
        deleteToast.showToast();
        closeDeleteTimeSlotModal()
        setTimeout(() => {
    location.reload();
  }, 500);

        }
      
        
</script>