<div class="model-blar" style="position: fixed;/* position: absolute; */left: 0;right: 0;top: 0;bottom: 0;z-index: 80;background-color: rgba(255, 255, 255, 0.096);backdrop-filter: blur(2px);cursor: pointer;display: none;">
</div>
<div class="subject-add-modal"  id="delete_popup-model" >
<!-- <div class="modal-wrapper" id="delete-subject-modal"> -->
    <!-- <div class="modal"> -->
      <a href="#" onclick="closeDeleteSubjectModal()" class="modal-close">+</a>
      <div class="modal-title">
        <h2>Delete Subject</h2>
      </div>
      <div class="modal-body">
        <form id="delete-subject-form">
            <span>Are you sure delete this?</span>
            <div class="level-term-batch-info">
              <div class="level level-term-batch"></div>
              <div class="term level-term-batch"></div>
              <div class="batch level-term-batch"></div>
            </div>
            <p id="deleteSubjectId" style="display: none;">p</p>
          <input type="submit" value="Delete" onclick="deleteSubjectSent()" />
        </form>
      </div>
    <!-- </div> -->
  <!-- </div> -->
</div>
  <script>
        // open the delete model
   async function opensubjectDeleteModal(event ,deleteSubjectsId) { 
    console.log('run opensubjectDeleteModal')
      const deleteSubjectIdSet=document.querySelector("#deleteSubjectId")
      deleteSubjectIdSet.innerHTML = deleteSubjectsId;    
      const oneLTDelete = event.closest('.oneLT')
    const deleteSubjectinfoSet=document.querySelector(".level-term-batch-info")

    // level set 
    deleteSubjectinfoSet.querySelector('.level').innerHTML = 'Level : ' + oneLTDelete.querySelector('.level').innerHTML
    // term set
    deleteSubjectinfoSet.querySelector('.term').innerHTML = 'Term : '+ oneLTDelete.querySelector('.term').innerHTML
    // batch set
    deleteSubjectinfoSet.querySelector('.batch').innerHTML = 'Batch : '+ oneLTDelete.querySelector('.batchInfo').innerHTML   
      deleteSubjectsModal.style.display = "block";
      delete_model_blar.style.display = "block";
        
    }
    const deleteSubjectsModal = document.querySelector("#delete_popup-model");
    const delete_model_blar = document.querySelector(".model-blar");

    const deleteToast = Toastify({
        text: "User was deleted successfully!",
        duration: 1000,
    });
    // close the delte model
    function closeDeleteSubjectModal() {
      deleteSubjectsModal.style.display = "none";
      delete_model_blar.style.display = "none";

    }



    async function deleteSubjectSent(){
      const subjectDeleteid= document.querySelector("#deleteSubjectId").innerHTML;
      console.log(subjectDeleteid);
          let response =await  fetch(`/Administrator/subjects/delete/${subjectDeleteid}`, {
            method: "DELETE",
        });
        deleteToast.showToast();
        closeDeleteSubjectModal()
        setTimeout(() => {
    location.reload();
  }, 500);}
      
        
</script>








