

<%- include(`../common/header.ejs`); %>
<section class="home-section">
  <div class="home-content">
    <%- include(`../common/landingMenu.ejs`); %>
    <div class="home">
      <div class="welcome">
        <div class="wel">Welcome </div>
        <div class="bdcom">BDCOM</div>
        <div class="progress">connecting Progress </div>
    </div>

  </div>
</section>



</body>

</html>