
<%- include(`../common/landingHeader.ejs`); %>
<body>
    <!-- <img src="/imges/img/Char 01 (1).png" alt="Slide 1"> -->
  
    <%- include(`../common/landingMenu.ejs`); %>user._id


  </body>
  
  </html>