<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <b>nasim</b>  ridoy
  <div id="login-container">
    <div id="left-column">
    </div>
    <div id="branding">
      <img src="/imges/daffodil-international-university-logo.png" alt="">
      <h1>User Login</h1>
    </div>
    <div id="login-form">
      <form method="post" action="/login">
        <input type="password" name="password" placeholder="enter password" />


        
        <a href=""> <span class="forgetpwd">Forget password</span> </a>
        <input type="submit" value="Login" />
       <p><span class="dontAC">Don't have account?</span> <a href="/singin"> Sing Up</a> </p>
      </form>
    </div>
  </div>
</body>
</html>